data/

preprocessing/images/
preprocessing/short_videos/
preprocessing/tuned-images/


ref/

.venv/

runs/

tools/

train/data/
train/[1-4]/
train/merged_dataset/
train/training_logs
train/models/
train/__pycache__

test/


